* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: auto;
  margin-top: 70px;
  width: 500px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.submitButton {
  background-color: rgb(46, 216, 196);
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.submitButton:hover {
  cursor: pointer;
}

.userNumber {
  display: block;
  width: 100px;
  height: 25px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin: 20px auto;
}

.clue {
  color: grey;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 25px;
  border-radius: 4px;
  margin: 20px auto;
  padding-top: 10px;
}

.attempts {
  color: grey;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 25px;
  border-radius: 4px;
  margin: 20px auto;
  padding-top: 10px;
}
